-- to do in the future
select 
*
from 
comp.secd a
where
1=1 
-- AND tic = 'PYPL'
{% if start_date %}AND datadate >= '{{ start_date }}'{% endif %}
{% if end_date %}AND datadate <= '{{ end_date }}'{% endif %}
AND prccd is not null
AND tpci = '0' -- common stock
AND curcdd = 'USD'
AND exchg in (11, 12, 14) -- NYSE, AMEX, NASDAQ
;