SELECT a.*
     , link_df.gvkey
     , link_df.linkdt
     , link_df.linkenddt
     , gic_sector_df.gsector
     , gic_sector_df.indfrom
     , gic_sector_df.indthru

FROM crsp.msp500list AS a

JOIN (
    SELECT gvkey,
           liid,
           linkdt,
           COALESCE(linkenddt, '2059-12-31') AS linkenddt,
           lpermno as permno,
           lpermco as permco,
           linkprim
    FROM crsp.ccmxpf_linktable
    WHERE linktype IN ('LU', 'LC')
      AND linkprim IN ('P', 'J', 'C')
      AND lpermno IS NOT NULL
) AS link_df
  ON a.permno = link_df.permno

JOIN (
    SELECT co_hgic.gsector,
           co_hgic.gvkey,
           co_hgic.indfrom,
           COALESCE(co_hgic.indthru, '2059-12-31') AS indthru
    FROM comp.co_hgic AS co_hgic
    WHERE indtype = 'GICS'
) AS gic_sector_df
  ON link_df.gvkey = gic_sector_df.gvkey

WHERE 
    ending < linkenddt + INTERVAL '1 year'
    AND ending > '{{ year }}-01-01'
    AND start <= '{{ year }}-01-01'
    AND '{{ year }}-01-01' >= indfrom
    AND '{{ year }}-01-01' < indthru
;
